# Ignore files associated with compiling
bin/
obj/

# Ignore files associated with doxygen docs
Documentation/html/
Documentation/latex/
latex/
html/
# Ignore NeuroField output files
*.output
*.mat

# Ignore LaTeX files
*.aux
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.toc
